In [8]:
# Add Matplotlib inline magic command
%matplotlib inline

# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# Files to Load
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

In [11]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

In [17]:
# Import DataFrames

urban_cities_df = pyber_data_df[pyber_data_df["type"] == "Urban"]
suburban_cities_df = pyber_data_df[pyber_data_df["type"] == "Suburban"]
rural_cities_df = pyber_data_df[pyber_data_df["type"] == "Rural"]

#  1. Get the total rides for each city type

urban_ride_count = urban_cities_df.groupby(["city"]).count()["ride_id"]
suburban_ride_count = suburban_cities_df.groupby(["city"]).count()["ride_id"]
rural_ride_count = rural_cities_df.groupby(["city"]).count()["ride_id"]

In [21]:
# 2. Get the total drivers for each city type

urban_driver_count = urban_cities_df.groupby(["city"]).count()["driver_count"]
suburban_driver_count = suburban_cities_df.groupby(["city"]).count()["driver_count"]
rural_driver_count = rural_cities_df.groupby(["city"]).count()["driver_count"]

In [22]:
#  3. Get the total amount of fares for each city type

urban_fare_count = urban_cities_df.groupby(["city"]).count()["fare"]
suburban_fare_count = suburban_cities_df.groupby(["city"]).count()["fare"]
rural_fare_count = rural_cities_df.groupby(["city"]).count()["fare"]

In [27]:
#  4. Get the average fare per ride for each city type.

In [26]:
# 5. Get the average fare per driver for each city type.

NameError: name 'urban_driver_df' is not defined

In [28]:
#  6. Create a PyBer summary DataFrame.

In [29]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None

NameError: name 'pyber_summary_df' is not defined

In [ ]:
#  8. Format the columns.